body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}


.tab button {
  background-color: inherit;
  border: darkgray;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
  float: none;
}


.tab button:hover {
  background-color: #ddd;
}


.tab button.active {
  background-color: #ccc;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

h2 { 
    color: #111; 
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; text-align: left;

}